
Der Ruheumsatz/Grundumsatz (engl. Resting Metabolic Rate) ist eine Größe zur Charakterisierung des Stoffwechsels. Sie ist die Energiemenge, die der Körper pro Tag bei völliger Ruhe, bei 28 °C und nüchtern (d. h. mit leerem Magen) zur Aufrechterhaltung seiner Funktionen benötigt.

  <form [formGroup]="secondFormGroup">
    <mat-form-field>
      <input matInput placeholder="Gewicht (kg)" formControlName="secondCtrl" required>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Zurück</button>
      <button mat-button matStepperNext>Weiter</button>
    </div>
  </form>

