<mat-card>
  <mat-card-title>
    Ruheumsatz (RMR)
  </mat-card-title>
  <mat-card-subtitle>
    Der Ruheumsatz/Grundumsatz (engl. Resting Metabolic Rate) ist eine Größe zur Charakterisierung des Stoffwechsels.
    Sie ist die Energiemenge, die der Körper pro Tag bei völliger Ruhe, bei 28 °C und nüchtern (d. h. mit leerem Magen)
    zur Aufrechterhaltung seiner Funktionen benötigt.
  </mat-card-subtitle>

  <mat-card-content>
    <div>
      <label id="gender-label">Geschlecht </label>
      <mat-radio-group aria-labelledby="gender-label" class="my-radio-group" [(ngModel)]="gender"
                       (change)="calculateRMR()">
        <mat-radio-button class="my-radio-button" value="male">männlich</mat-radio-button>
        <mat-radio-button class="my-radio-button" value="female">weiblich</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <label>Altersgruppe </label>
      <mat-radio-group class="my-radio-group" [(ngModel)]="age" (change)="calculateRMR()">
        <mat-radio-button class="my-radio-button" value="0">10-18</mat-radio-button>
        <mat-radio-button class="my-radio-button" value="1">19-30</mat-radio-button>
        <mat-radio-button class="my-radio-button" value="2">31-60</mat-radio-button>
        <mat-radio-button class="my-radio-button" value="3">>60</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <mat-form-field>
        <input [(ngModel)]="weight" matInput placeholder="Gewicht (kg)" (change)="calculateRMR()" required>
      </mat-form-field>
    </div>
    <div *ngIf="service.rmr" class="mat-h2">RMR: {{service.rmr}} Kcal</div>
  </mat-card-content>
</mat-card>
